<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
	  /* Make the image fully responsive */
	  .carousel-inner img {
		  width: 100%;
		  height: 100%;
	  }
  body{color:#00FF00;text-align: justify;}
  .services_container{
    positon:relative;
    margin: 20px 0px;
    border:1px solid rgb(100,100,100);
  }
  .services_container .services_content{
    position:absolute;
    bottom:0px;
    background: rgba(0,0,0,0.5);
    width:100%;
    padding:20px;
  }
  </style>
  </head>
<body class="bg-secondary">


<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'gallery_list' %}">Hotel Jumera</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gallery_list' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about_detail'%}">About Us</a>
      </li>
	   <li class="nav-item">
        <a class="nav-link" href="{% url 'room_list'%}">Room</a>
      </li>
	   <li class="nav-item">
        <a class="nav-link" href="{% url 'service_list'%}">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gallery_upload_list'%}">Gallery</a>
      </li>
	   <li class="nav-item">
        <a class="nav-link" href="{% url 'contact_us'%}">Contact Us</a>
      </li>
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
			Events
		  </a>
		  <div class="dropdown-menu">
			<a class="dropdown-item" href="{% url 'event_list'%}">Upcoming Events</a><hr>
			<a class="dropdown-item" href="{% url 'event_create'%}">Past Events</a>
		  </div>
		</li>
		<li class="nav-item">
			<a class="nav-link btn btn-outline-success" href="{% url 'booking_create'%}">Book Now</a>
		</li>
    </ul>
  </div>
</nav>
<div class='col-md-8'>
{% if messages %}
{% for message in messages %}
<div class = 'alert alert-{{message.tags}}'>
  {{message}}
</div>
{% endfor %}
{% endif %}
</div>
{% block content %}
{% endblock content %}
<!-- Footer -->
  <div class="row bg-dark" style="padding:10px;">
  <div class='col-md-4'>
    <h2 style='text-style:italic;'>Company Logo</h2>
    <ul class='list-inline' style="text-decoration:none; font-family:bold;">
      <li class='list-inline-item'><a href="#">Home.</a></li>
      <li class='list-inline-item'><a href="#">About.</a></li>
      <li class='list-inline-item'><a href="#">Contact.</a></li>
      <h4>Company Name &copy;2018</h4>
    </ul>
    </div>
  <div class='col-md-4'>
    <p><i class="fa fa-map-marker">   Daduwa-07<strong>Chitwan, Nepal</strong></i>
      <p><i class="fa fa-phone"></i>  +977- 056583477</p>
      <p><i class="fa fa-envelope"></i>  company@gmail.com</p>
  </div>
  <div class='col-md-4'>
    <h4><strong> About the company</strong></h4>
    <p> This is the place for you if you are wanting to spend some time on serene environment.</p>
      <p>you are welcome</p>
      <ul class="list-inline">
        <li class='list-inline-item'><i class="fa fa-facebook-square"></i></li>
        <li  class='list-inline-item'><i class="fa fa-google-plus-square"></i></li>
        <li  class='list-inline-item'><i class="fa fa-youtube-square"></i></li>
      </ul>
  </div>
 </div>
</body>
</html>
