{% extends 'gallery/base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row no-gutters" style="margin-left:-15px;margin-right:-15px;">
    <div class="col-12">
<div id="demo" class="carousel slide gallery_list_carousel" data-ride="carousel" >
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  <div class="carousel-inner">
    {% for gallery_object in gallery_object_list|slice:"1:2" %}
      <div class="carousel-item active">
        <img  class="img-fluid" src="{{ gallery_object.gallery_image.url }}" alt="{{ gallery_object.gallery_image_title }}" >
        <div class="carousel-caption">
          <h3>{{ gallery_object.gallery_image_title }}</h3>
        </div>
        </div>
    {% endfor %}

    {% for gallery_object in gallery_object_list|slice:"2:5" %}
    <div class="carousel-item">
      <img  class="img-fluid"  src="{{ gallery_object.gallery_image.url }}" alt="{{ gallery_object.gallery_image_title }}" >
      <div class="carousel-caption">
        <h3>{{ gallery_object.gallery_image_title }}</h3>
      </div>
    </div>
    {% endfor %}
<a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
</div>
</div>
</div>
<a href="{% url 'contact_us'%}" class="btn btn-outline-success btn-block btn-lg gallery_list_carousel_button">Check Availability!</a>

<div class=" text-center gallery_list_atithi">अतिथिदेवो भव:</div>
<div class="container-fluid">
  <div class="row  gallery_list_row_animate">
    {% for gallery_object in gallery_object_list|slice:"5:6" %}
    <div class="col-xs-6 image_container" style="padding:5px;">
      <div >
        <img class="img-fluid" src="{{gallery_object.gallery_image.url}}">
          <div class="image_overlay">
            <div class="image_text"><h5>{{ gallery_object.gallery_image_title }}</h5><p style="font-size:10px;">{{gallery_object.gallery_image_description}}</p>
              <a href="{% url 'room_list'%}" class="btn btn-outline-success  ">View More</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% for gallery_object in gallery_object_list|slice:"6:7" %}
      <div class="col-xs-6 image_container" style="padding:5px;">
        <div >
          <img class="img-fluid" src="{{gallery_object.gallery_image.url}}">
            <div class="image_overlay">
              <div class="image_text"><h5>{{ gallery_object.gallery_image_title }}</h5><p style="font-size:10px;">{{gallery_object.gallery_image_description}}</p>
                <a href="{% url 'service_list'%}" class="btn btn-outline-success  ">View More</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        {% for gallery_object in gallery_object_list|slice:"7:8" %}
        <div class="col-xs-6 image_container" style="padding:5px;">
          <div >
            <img class="img-fluid" src="{{gallery_object.gallery_image.url}}">
              <div class="image_overlay">
                <div class="image_text "><h5>{{ gallery_object.gallery_image_title }}</h5><p style="font-size:10px;">{{gallery_object.gallery_image_description}}</p>
                  <a href="{% url 'gallery_upload_list'%}" class="btn btn-outline-success  ">View More</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          {% for gallery_object in gallery_object_list|slice:"8:9" %}
          <div class="col-xs-6 image_container" style="padding:5px;">
            <div >
              <img class="img-fluid" src="{{gallery_object.gallery_image.url}}">
                <div class="image_overlay">
                  <div class="image_text"><h5>{{ gallery_object.gallery_image_title }}</h5><p style="font-size:10px;">{{gallery_object.gallery_image_description}}</p>
                    <a href="{% url 'contact_us'%}" class="btn btn-outline-success  ">Contact Us!</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
  </div>
</div>
{% for gallery_object in gallery_object_list|slice:"9:10" %}
<div class="container">
  <div class="row no-gutters gallery_list_bottom_row">
    <div class="col-md-6">
    <img class="img-fluid" src="{{gallery_object.gallery_image.url}}">
    </div>
    <div class="col-md-6 text-center gallery_list_bottom_col" style="padding:10px;">
      <h4>{{ gallery_object.gallery_image_title }}</h4>
      <p>  {{ gallery_object.gallery_image_description}}</p>
          </div>
        </div>
      </div>

  {% endfor %}
{% endblock content %}
