{% extends 'gallery/base.html'%}
{% block content %}
<div class="container-fluid">

  <br>  <h2 class="text-center" style="font-style:italic;"> Photo Gallery!</h2> <hr>


<div class="row gallery_upload_list_row">

{% for image in gallery_upload_object_list%}
    <div class="col-sm-4 gallery_upload_list_col">
      <div class="img-thumbnail">
          <a href="{{image.upload_image.url}}"><img class='img-fluid' src="{{ image.upload_image.url }}" alt="Image" >
          <div class="caption gallery_upload_list_title">
            <p>{{ image.upload_image_title }}</p>
          </div>
          </a>
      </div>
    </div>
{% endfor %}
</div>
</div>



{% endblock content%}
