{% extends 'gallery/base.html' %}

{% block content %}
<div id="demo" class="carousel slide" data-ride="carousel" style="margin:5px 5px 10px 5px;">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    {% for gallery_object in gallery_object_list|slice:"0:1" %}
      <div class="carousel-item active">
        <img  class="img-responsive" src="{{ gallery_object.gallery_image.url }}" alt="{{ gallery_object.gallery_image_title }}" >
        <div class="carousel-caption">
          <h3>{{ gallery_object.gallery_image_title }}</h3>
          <p>We had such a great time in LA!</p>
        </div>
        </div>
    {% endfor %}

    {% for gallery_object in gallery_object_list|slice:"1:3" %}
    <div class="carousel-item">
      <img  class="img-responsive"  src="{{ gallery_object.gallery_image.url }}" alt="{{ gallery_object.gallery_image_title }}" >
      <div class="carousel-caption">
        <h3>{{ gallery_object.gallery_image_title }}</h3>
        <p>Thank you, Chicago!</p>
      </div>
    </div>
    {% endfor %}


  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>

{% for gallery_object in gallery_object_list|slice:"3:" %}
<div class="container-fluid" style="margin:50px 0px;">
<di class="row no-gutters" style='border:1px solid rgba(100,100,100,0.3);padding:10px;margin:20px;'>

    <div class="col-md-6">
      <div class="img-thumbnail rounded">
          <img src="{{ gallery_object.gallery_image.url }}" style="width:100%">
          <div class="caption text-center">
            <p>{{ gallery_object.gallery_image_title }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-justify" style='padding:10px;'>
      <h2>DJ Party</h2>
      <p>This is the description, as you know it is so much awesome to have JD.
        But what you dont know is its friging tasty when you have it with Coke.
        Put 150 ml of JD into 250 ml of Coke,serve it With 3-4 Ice Cubes , you will carve the taste for the rest of your life.
        </p>
    </div>
</div>
</div>
{% endfor %}
{% endblock content %}
