{% extends 'gallery/base.html' %}

{% block content %}
<div class='container-fluid '>
{% for about_variables in about %}
<div class='row no-gutters about_detail_row'>
<div class='col-md-12'>
  <img class='img-fluid rounded' src="{{about_variables.image.url }}" alt="image">
</div>
</div>
 <div class='container about_detail_container'>
   <div class='text-center text-capitalize about_detail_text'>
   <h4>{{about_variables.about}}</h4>
  </div>
  </div>
{% endfor %}
<br><hr>



  <div class='text-center about_detail_map_container'>
      <iframe  class="about_detail_map" src="https://maps.tilehosting.com/styles/basic/?key=VEZIoBrAg2L6w27pMMxQ#16.95/27.60152/84.64242"></iframe>
  </div>
  <hr>
</div>
{% endblock content %}
